.barGraphWrapper {
  align-items: center;
  display: flex;
  + .barGraphWrapper {
    margin-top: $statLeading;
  }
  .barTitle {
    flex: 0 0 auto;
    max-width: 114px;
    width: 114px;
  }
  .barGraph {
    flex: 1 1 auto;
    max-width: 100%;
    position: relative;
    width: 100%;
    .barWhite, .barDark {
      border-radius: 50px;
      height: 4px;
    }
    .barWhite {
      background-color: $colorWhite;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition-duration: $transitionS;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .barDark {
      background-color: $colorGraphDark;
    }
  }
}

// CSSTransition styling
.listSet p {
  transform-origin: top center;
  transform: scaleY(0);
  transition-duration: $transitionS;
  &.listSetText-enter-active,
  &.listSetText-enter-done {
    transform: scaleY(1);
  }
}
