// IMAGE 1
#journeyImage1 svg {
  .card, .package, .booklet, .leaflet {
    transition-timing-function: cubic-bezier(0, 1.15, 0.5, 1);
    transition-duration: $transitionM;
  }
  .card {transform: translate(131.774px, -300px);}
  .package {transform: translate(34px, -300px);}
  .booklet {transform: translate(118.302px, -300px);}
  .leaflet {transform: translate(24px, -300px);}
}
#journeyImage1.active svg {
  .card {transform: translate(131.774px, 15px);}
  .package {transform: translate(34px, 98px);}
  .booklet {transform: translate(118.302px, 164.44px);}
  .leaflet {transform: translate(24px, 220.865px);}
}



// IMAGE 2
#journeyImage2 svg {
  .poster, .xBanner, .printer, .print {
    transition-timing-function: cubic-bezier(0, 1.15, 0.5, 1);
    transition-duration: $transitionM;
  }
  .poster {transform: translate(72px, -289px);}
  .xBanner {transform: translate(486px, 23px);}
  .printer {transform: translate(-286px, 131px);}
  .print {transform: translate(16px, -117px);}
}
#journeyImage2.active svg {
  .poster {transform: translate(72px, 11px);}
  .xBanner {transform: translate(186px, 23px);}
  .printer {transform: translate(14px, 131px);}
  .print {
    transition-delay: calc(#{$transitionM} * 1.4);
    transition-duration: $transitionL;
    transform: translate(16px, 0);
  }
}



// IMAGE 3
#journeyImage3 svg {
}
#journeyImage3.active svg {
}

// IMAGE 4
#journeyImage4 svg {
}
#journeyImage4.active svg {
}

// IMAGE 5
#journeyImage5 svg {
}
#journeyImage5.active svg {
}

// IMAGE 6
#journeyImage6 svg {
}
#journeyImage6.active svg {
}

// IMAGE 7
#journeyImage7 svg {
}
#journeyImage7.active svg {
}
