// IMAGE 1
#journeyImage1 svg {
  .card, .package, .booklet, .leaflet {
    transition-timing-function: cubic-bezier(0, 1.15, 0.5, 1);
    transition-duration: $transitionM;
  }
  .card {transform: translate(131.774px, -300px);}
  .package {transform: translate(34px, -300px);}
  .booklet {transform: translate(118.302px, -300px);}
  .leaflet {transform: translate(24px, -300px);}
}
#journeyImage1.active svg {
  .card {transform: translate(131.774px, 15px);}
  .package {transform: translate(34px, 98px);}
  .booklet {transform: translate(118.302px, 164.44px);}
  .leaflet {transform: translate(24px, 220.865px);}
}



// IMAGE 2
#journeyImage2 svg {
  .poster, .xBanner, .printer, .print {
    transition-timing-function: cubic-bezier(0, 1.15, 0.5, 1);
    transition-duration: $transitionM;
  }
  .poster {transform: translate(72px, -289px);}
  .xBanner {transform: translate(486px, 23px);}
  .printer {transform: translate(-286px, 131px);}
  .print {transform: translate(16px, -117px);}
}
#journeyImage2.active svg {
  .poster {transform: translate(72px, 11px);}
  .xBanner {transform: translate(186px, 23px);}
  .printer {transform: translate(14px, 131px);}
  .print {
    transition-delay: calc(#{$transitionM} * 1.4);
    transition-duration: $transitionL;
    transform: translate(16px, 0);
  }
}



// IMAGE 3
#journeyImage3 svg {
  [class^="cal"], [class^="mag"] {
    transition-duration: $transitionXL;
    transition-timing-function: cubic-bezier(0, 1.15, 0.5, 1);
  }
  [class^="cal"] {transform: translate(-100px, 6px);}
  .mag01 {transform: translate(-236px, 55px);}
  .mag02 {transform: translate(-178px, 55px);}
  .mag03 {transform: translate(-118px, 55px);}
  .mag04 {transform: translate(-60px, 55px);}
  .mag05 {transform: translate(-236px, 137px);}
  .mag06 {transform: translate(-178px, 137px);}
  .mag07 {transform: translate(-118px, 137px);}
  .mag08 {transform: translate(-60px, 137px);}
  .mag09 {transform: translate(-236px, 218px);}
  .mag10 {transform: translate(-178px, 219px);}
  .mag11 {transform: translate(-118px, 218px);}
  .mag12 {transform: translate(-60px, 218px);}
}
#journeyImage3.active svg {
  [class^="cal"] {transform: translate(6px, 6px);}
  .cal02 {transition-delay: calc(#{$transitionS} * 1);}
  .cal03 {transition-delay: calc(#{$transitionS} * 2);}
  .cal04 {transition-delay: calc(#{$transitionS} * 3);}
  .cal05 {transition-delay: calc(#{$transitionS} * 4);}
  .cal06 {transition-delay: calc(#{$transitionS} * 5);}
  .cal07 {transition-delay: calc(#{$transitionS} * 6);}
  .cal08 {transition-delay: calc(#{$transitionS} * 7);}
  .cal09 {transition-delay: calc(#{$transitionS} * 8);}
  .cal10 {transition-delay: calc(#{$transitionS} * 9);}
  .cal11 {transition-delay: calc(#{$transitionS} * 10);}
  .cal12 {transition-delay: calc(#{$transitionS} * 11);}
  .mag01 {transform: translate(63px, 55px);}
  .mag02 {
    transform: translate(122px, 55px);
    transition-delay: calc(#{$transitionS} * 1);
  }
  .mag03 {
    transform: translate(182px, 55px);
    transition-delay: calc(#{$transitionS} * 2);
  }
  .mag04 {
    transform: translate(241px, 55px);
    transition-delay: calc(#{$transitionS} * 3);
  }
  .mag05 {
    transform: translate(65px, 137px);
    transition-delay: calc(#{$transitionS} * 4);
  }
  .mag06 {
    transform: translate(124px, 137px);
    transition-delay: calc(#{$transitionS} * 5);
  }
  .mag07 {
    transform: translate(182px, 137px);
    transition-delay: calc(#{$transitionS} * 6);
  }
  .mag08 {
    transform: translate(241px, 137px);
    transition-delay: calc(#{$transitionS} * 7);
  }
  .mag09 {
    transform: translate(65px, 218px);
    transition-delay: calc(#{$transitionS} * 8);
  }
  .mag10 {
    transform: translate(123px, 219px);
    transition-delay: calc(#{$transitionS} * 9);
  }
  .mag11 {
    transform: translate(182px, 218px);
    transition-delay: calc(#{$transitionS} * 10);
  }
  .mag12 {
    transform: translate(241px, 218px);
    transition-delay: calc(#{$transitionS} * 11);
  }
}



// IMAGE 4
#journeyImage4 svg {
}
#journeyImage4.active svg {
}

// IMAGE 5
#journeyImage5 svg {
}
#journeyImage5.active svg {
}

// IMAGE 6
#journeyImage6 svg {
}
#journeyImage6.active svg {
}

// IMAGE 7
#journeyImage7 svg {
}
#journeyImage7.active svg {
}
