// IMAGE 1
#journeyImage1 svg {
  .card {transform: translate(131.774px, -300px);}
  .package {transform: translate(34px, -300px);}
  .booklet {transform: translate(118.302px, -300px);}
  .leaflet {transform: translate(24px, -300px);}
}
#journeyImage1.active svg {
  [class] {
    transition-timing-function: cubic-bezier(0, 1.15, 0.5, 1);
    transition-duration: $transitionM;
  }
  .card {transform: translate(131.774px, 15px);}
  .package {transform: translate(34px, 98px);}
  .booklet {transform: translate(118.302px, 164.44px);}
  .leaflet {transform: translate(24px, 220.865px);}
}



// IMAGE 2
#journeyImage2 svg {
  .poster {transform: translate(72px, -289px);}
  .xBanner {transform: translate(486px, 23px);}
  .printer {transform: translate(-286px, 131px);}
  .print {transform: translate(16px, -117px);}
}
#journeyImage2.active svg {
  [class] {
    transition-timing-function: cubic-bezier(0, 1.15, 0.5, 1);
    transition-duration: $transitionM;
  }
  .poster {transform: translate(72px, 11px);}
  .xBanner {transform: translate(186px, 23px);}
  .printer {transform: translate(14px, 131px);}
  .print {
    transition-delay: calc(#{$transitionM} * 1.4);
    transition-duration: $transitionL;
    transform: translate(16px, 0);
  }
}



// IMAGE 3
#journeyImage3 svg {
  [class^="cal"] {transform: translate(-100px, 6px);}
  .mag01 {transform: translate(-236px, 55px);}
  .mag02 {transform: translate(-178px, 55px);}
  .mag03 {transform: translate(-118px, 55px);}
  .mag04 {transform: translate(-60px, 55px);}
  .mag05 {transform: translate(-236px, 137px);}
  .mag06 {transform: translate(-178px, 137px);}
  .mag07 {transform: translate(-118px, 137px);}
  .mag08 {transform: translate(-60px, 137px);}
  .mag09 {transform: translate(-236px, 218px);}
  .mag10 {transform: translate(-178px, 219px);}
  .mag11 {transform: translate(-118px, 218px);}
  .mag12 {transform: translate(-60px, 218px);}
}
#journeyImage3.active svg {
  [class] {
    transition-duration: $transitionL;
    transition-timing-function: cubic-bezier(0, 1.15, 0.5, 1);
  }
  [class^="cal"] {transform: translate(6px, 6px);}
  .cal02 {transition-delay: calc(#{$transitionS} * 1);}
  .cal03 {transition-delay: calc(#{$transitionS} * 2);}
  .cal04 {transition-delay: calc(#{$transitionS} * 3);}
  .cal05 {transition-delay: calc(#{$transitionS} * 4);}
  .cal06 {transition-delay: calc(#{$transitionS} * 5);}
  .cal07 {transition-delay: calc(#{$transitionS} * 6);}
  .cal08 {transition-delay: calc(#{$transitionS} * 7);}
  .cal09 {transition-delay: calc(#{$transitionS} * 8);}
  .cal10 {transition-delay: calc(#{$transitionS} * 9);}
  .cal11 {transition-delay: calc(#{$transitionS} * 10);}
  .cal12 {transition-delay: calc(#{$transitionS} * 11);}
  .mag01 {transform: translate(63px, 55px);}
  .mag02 {
    transform: translate(122px, 55px);
    transition-delay: calc(#{$transitionS} * 1);
  }
  .mag03 {
    transform: translate(182px, 55px);
    transition-delay: calc(#{$transitionS} * 2);
  }
  .mag04 {
    transform: translate(241px, 55px);
    transition-delay: calc(#{$transitionS} * 3);
  }
  .mag05 {
    transform: translate(65px, 137px);
    transition-delay: calc(#{$transitionS} * 4);
  }
  .mag06 {
    transform: translate(124px, 137px);
    transition-delay: calc(#{$transitionS} * 5);
  }
  .mag07 {
    transform: translate(182px, 137px);
    transition-delay: calc(#{$transitionS} * 6);
  }
  .mag08 {
    transform: translate(241px, 137px);
    transition-delay: calc(#{$transitionS} * 7);
  }
  .mag09 {
    transform: translate(65px, 218px);
    transition-delay: calc(#{$transitionS} * 8);
  }
  .mag10 {
    transform: translate(123px, 219px);
    transition-delay: calc(#{$transitionS} * 9);
  }
  .mag11 {
    transform: translate(182px, 218px);
    transition-delay: calc(#{$transitionS} * 10);
  }
  .mag12 {
    transform: translate(241px, 218px);
    transition-delay: calc(#{$transitionS} * 11);
  }
}



// IMAGE 4
#journeyImage4 svg {
  .phone {transform: translate(0, 300px);}
  .shirt {transform: translate(5px, 307px);}
  .planeLeaflet {transform: translate(5px, 436px);}
  .senbei {transform: translate(165px, 305px);}
  .treeLeaflet {transform: translate(89px, -300px);}
}
#journeyImage4.active svg {
  [class] {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0, 1.15, 0.5, 1);
  }
  .phone {transition-delay: 0.2s;}
  .shirt {transition-delay: 0.4s;}
  .planeLeaflet {transition-delay: 0.6s;}
  .senbei {transition-delay: 0.8s;}
  .phone {transform: translate(0, 0);}
  .shirt {transform: translate(5px, 7px);}
  .planeLeaflet {transform: translate(5px, 136px);}
  .senbei {transform: translate(165px, 5px);}
  .treeLeaflet {transform: translate(89px, 77px);}
}




// IMAGE 5
#journeyImage5 svg {
  .arrowLeft {transform: translate(300px, 0);}
  .shedSet {transform: translate(509px, 155px);}
  .no {transform: translate(0, -300px);}
  .yes {transform: translate(0, -300px);}
}
#journeyImage5.active svg {
  @keyframes keyShedSet {
    0% {transform: translate(209px, 155px);}
    15% {transform: translate(209px, 155px);}
    50% {transform: translate(159px, 155px);;}
    100% {transform: translate(209px, 155px);;}
  }
  @keyframes keyNo {
    0% {transform: translate(0, -300px);}
    15% {transform: translate(0, -300px);}
    50% {transform: translate(0, 0);;}
    100% {transform: translate(0, -300px);;}
  }
  @keyframes keyYes {
    0% {transform: translate(0, 0);}
    15% {transform: translate(0, 0);}
    50% {transform: translate(0, -300px);;}
    100% {transform: translate(0, 0);;}
  }
  [class] {
    transition-duration: $transitionS;
    transition-timing-function: cubic-bezier(0, 1.15, 0.5, 1);
  }
  .shedSet, .no, .yes {
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: $transitionS;
  }
  .shedSet {
    animation-name: keyShedSet;
    transform: translate(209px, 155px);
  }
  .arrowLeft {
    transform: translate(0, 0);
  }
  .no {
    animation-name: keyNo;
  }
  .yes {
    transform: translate(0, 0);
    animation-name: keyYes;
  }
}




// IMAGE 6
#journeyImage6 svg {
  .laptopSet {
    transform: translate(-285px, 62px);
    .code > * {
      opacity: 0;
      transform: translateY(-4px);
    }
  }
}
@keyframes keyCode {
  0% {
    opacity: 0;
    transform: translateY(-4px);
  }
  30% {
    opacity: 0;
    transform: translateY(-4px);
  }
  40% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#journeyImage6.active svg {
  @keyframes keyLaptopSet {
    0% {transform: translate(-285px, 62px);}
    20% {transform: translate(15px, 62px);}
    100% {transform: translate(15px, 62px);}
  }
  [class] {
    transition-duration: $transitionS;
    transition-timing-function: cubic-bezier(0, 1.15, 0.5, 1);
  }
  .laptopSet {
    animation: 3s 1 keyLaptopSet;
    animation-fill-mode: forwards;
    .code > * {
      animation: 3s 1 keyCode;
      animation-fill-mode: forwards;
      &:nth-child(1) {animation-delay: 0.28s}
      &:nth-child(2) {animation-delay: 0.26s}
      &:nth-child(3) {animation-delay: 0.24s}
      &:nth-child(4) {animation-delay: 0.22s}
      &:nth-child(5) {animation-delay: 0.20s}
      &:nth-child(6) {animation-delay: 0.18s}
      &:nth-child(7) {animation-delay: 0.16s}
      &:nth-child(8) {animation-delay: 0.14s}
      &:nth-child(9) {animation-delay: 0.12s}
      &:nth-child(10) {animation-delay: 0.10s}
      &:nth-child(11) {animation-delay: 0.08s}
      &:nth-child(12) {animation-delay: 0.06s}
      &:nth-child(13) {animation-delay: 0.04s}
      &:nth-child(14) {animation-delay: 0.02s}
    }
  }
}



// IMAGE 7
#journeyImage7 svg {
  .code > * {
    opacity: 0;
    transform: translateY(-4px);
  }
  .browser {
    transform: translate(7px, -240px) scale(1.1);
    transform-origin: 150px 150px;
  }
}
#journeyImage7.active svg {
  @keyframes keyBrowser {
    0% {transform: translate(7px, -240px) scale(1.1);}
    80% {transform: translate(7px, 60px) scale(1.1);}
    96% {transform: translate(7px, 60px) scale(1.02);}
    98% {transform: translate(7px, 60px) scale(1.04);}
    100% {transform: translate(7px, 60px) scale(1.02);}
  }
  [class] {
    animation-timing-function: cubic-bezier(0, 1.15, 0.5, 1);
  }
  .code > * {
    animation: 3s 1 keyCode;
    animation-fill-mode: forwards;
    &:nth-child(1) {animation-delay: 0.28s}
    &:nth-child(2) {animation-delay: 0.26s}
    &:nth-child(3) {animation-delay: 0.24s}
    &:nth-child(4) {animation-delay: 0.22s}
    &:nth-child(5) {animation-delay: 0.20s}
    &:nth-child(6) {animation-delay: 0.18s}
    &:nth-child(7) {animation-delay: 0.16s}
    &:nth-child(8) {animation-delay: 0.14s}
    &:nth-child(9) {animation-delay: 0.12s}
    &:nth-child(10) {animation-delay: 0.10s}
    &:nth-child(11) {animation-delay: 0.08s}
    &:nth-child(12) {animation-delay: 0.06s}
    &:nth-child(13) {animation-delay: 0.04s}
    &:nth-child(14) {animation-delay: 0.02s}
  }
  .browser {
    animation: 1.6s 1 keyBrowser;
    animation-fill-mode: forwards;
    animation-delay: 1.8s;
  }
}
