#loadingStatBar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 10px;
  background-color: $colorMain;
  transform: scaleX(0);
  transform-origin: left center;
  transition-duration: $transitionS;
}