.journeyWrapper {
  display: flex;
  margin-left: -6em;
  max-width: 1200px;
  width: 82%;
  > div {
    flex: 1 0 25%;
    margin-right: 3em;
    &:last-child {
      flex: 1 0 50%;
    }
  }
  h5 {
    font-family: $ffBody;
    color: $colorGray;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 100%;
    margin-bottom: 0.4em;
    font-size: 1.8rem;
    &:not(:first-of-type) {
      margin-top: 1.4em;
    }
  }
}

.spriteContainer {
  border-radius: 1em;
  line-height: 0;
  overflow: hidden;
  object {
    height:100%;
    width:100%;
  }
}

.infoContainer {
  > div, a {
    align-items: baseline;
    display: flex;
  }
  > div + div {
    margin-top: 0.6em;
  }
  svg {
    color: $colorSub;
    font-size: calc(#{$fsP} * 0.85);
    margin-right: 0.4em;
    width: 1.2em !important;
  }
  p {
    line-height: 100%;
  }
  a {
    position: relative;
    &::after {
      background-color: $colorSub;
      bottom: -2px;
      content: '';
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      right: 0;
      transform-origin: left center;
      transform: scaleX(0);
      transition-duration: $transitionS;
      width: 100%;
      z-index: -10;
    }
    &:hover::after {
      transform: scaleX(1);
    }
    > p {
      display: inline-block;
    }
  }
}

.descriptionContainer {
  p {
    padding: 0 0 0 0.6em;
    text-indent: -0.6em;
  }
  p + p {
    margin-top: 0.6em;
  }
}
