@keyframes scroll {
  0% {transform: translateY(-100%);}
  100% {transform: translateY(0%);}
}
@keyframes swipe {
  0% {transform: translateX(0);}
  100% {transform: translateX(calc(-100% - 0.25em));}
}
@keyframes arrowKey {
  0% {transform: translateY(0);}
  40% {transform: translateY(0);}
  60% {transform: translateY(2px);}
  80% {transform: translateY(0);}
  100% {transform: translateY(0);}
}

.slideLanding {
  flex-direction: column;
  .navMethodIcon {
    display: flex;
    .arrowKey {
      animation: 1.2s infinite ease-in-out arrowKey;
      &:nth-child(2) {
        animation-delay: 0.6s;
      }
    }
  }
  .navMethodsWrapper {
    display: flex;
    flex: 0 0 auto;
    height: 2rem;
    margin-top: 3em;
    transition-duration: $transitionS;
    &.inactive {
      height: 0;
      margin-top: 0;
      opacity: 0;
    }
    p {
      color: $colorLightGray;
      font-size: 1.4rem;
      font-weight: 100;
      letter-spacing: 0.05em;
    }
    .navMethodScroll {
      overflow: hidden;
    }
    .scroll {
      animation: 2.4s infinite ease-in-out scroll;
    }
    .swipe {
      animation: 2.4s infinite ease-in-out swipe;
    }
    .swipeWrapper {
      width: 4rem;
      .swipeContainer {
        display: flex;
        p + p {
          margin-left: 0.25em;
        }
      }
    }
  }
}
