.statBarTools {
  display: flex;
  flex-direction: column;
  h5 {
    display: inline-block;
    margin: 0;
  }
  .toolsContainer {
    display: flex;
  }
  .listSet {
    display: inline-block;
    column-count: 2;
    p {
      font-size: 1.2rem;
      letter-spacing: 0.05em;
      &:not(:first-child) {
        margin-top: calc(#{$statLeading} * 0.6);
      }
    }
  }
}

// React-CSSTransition Styling
.listSet p {
  transform-origin: top center;
  transform: scaleY(0);
  transition-duration: $transitionS;
  &.listSetText-enter-active,
  &.listSetText-enter-done {
    transform: scaleY(1);
  }
}
