.statBar {
  background-color: $colorMain;
  display: flex;
  left: 0;
  padding: 1.6em 3.2em;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(-110%); // Adjust height later to appropriate
  // transform: translateY(0); // TO SHOW WHILE STLYING;
  transition-delay: $transitionS;
  transition-duration: $transitionS;
  width: 100vw;
  &.active {
    transform: translateY(0);
  }
  .statBarBlock {
    flex: 1 0;
    margin-left: 6.5em;
  }
  h6, p {
    color: $colorWhite;
  }
  h6 {
    font-weight: 400;
    letter-spacing: 0.035em;
    margin-bottom: $statLeading;
  }
  p {
    font-size: 1.35rem;
    font-weight: 100;
    letter-spacing: 0.075em;
  }
}
