#statBar {
  // transform: translateY(-10em); // Adjust height later to appropriate
  background-color: $colorMain;
  display: flex;
  left: 0;
  padding: 3em 6em;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(0); // temporary while coding;
  transition-delay: $transitionS;
  transition-duration: $transitionS;
  width: 100vw;
  &.active {
    transform: translateY(0);
  }
  .statBarBlock {
    flex: 1 0 auto;
  }
}
