@mixin delay($nth) {
  transition-delay: calc(0.05s * #{$nth});
}

#timeline {
  bottom: 24px;
  left: 0;
  position: absolute;
  right: 0;
  transition-duration: $transitionS;
  .timePeriod {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0 4em;
    li {
      background-color: $colorSub;
      min-height: 1.6rem;
      min-width: $timeLineUnit;
      transform: translateY(5em); // Hides the timeline-bars and years
      transition-duration: $transitionS;
      transition-timing-function: cubic-bezier(0.5 , -0.35, 0.5, 1.35);
      &:first-of-type, &:last-of-type {
        background-color: $colorWhite;
        border-left: $timeLineUnit solid $colorSub;
        border-right: $timeLineUnit solid $colorSub;
        color: $colorSub;
        font-family: $ffBodyCon;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.1em;
        padding: 0 0.4em 0 0.5em; // 0.4em to cater for last-letter-spacing.
        text-align: center;
      }
      &:nth-child(1) { @include delay(1); }
      &:nth-child(2) { @include delay(2); }
      &:nth-child(3) { @include delay(3); }
      &:nth-child(4) { @include delay(4); }
      &:nth-child(5) { @include delay(5); }
      &:nth-child(6) { @include delay(6); }
      &:nth-child(7) { @include delay(7); }
      &:nth-child(8) { @include delay(8); }
      &:nth-child(9) { @include delay(9); }
      &:nth-child(10) { @include delay(10); }
      &:nth-child(11) { @include delay(11); }
      &:nth-child(12) { @include delay(12); }
      &:nth-child(13) { @include delay(13); }
    }
  }
}

#timeline.active .timePeriod li {
  transform: translateY(0);
}

// AnimateOnChange Styling
@keyframes scale {
  0% {transform: scale(1, 1);}
  33% {transform: scale(1.25, 1.25);}
  66% {transform: scale(0.75, 0.75);}
  100% {transform: scale(1, 1);}
}
.year.yearActive {
  animation: $transitionS 1 linear scale;
}