@charset 'utf-8';
@import '_normalize';
@import '_normalizeCustomConfig';
@import '_variable';
@import '_font';
@import '_debugger';
@import '_mediaQuery';
@import '_loadingStarBar';


// ID LEVEL ----------------------------------------------------------------------------------
#root {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}
#app {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 10px; // Confirmed for Chrome & FF & Safari in OSX.
  position: relative;
}

// ELEMENT LEVEL ----------------------------------------------------------------------------------
header {
  position: fixed;
}

section {
  width: 100vw;
  height: 100vh;
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:nth-child(odd) {
    background-color: $colorLightGray;
  }
}



// CLASS LEVEL ------------------------------------------------------------------------------------
.mainWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  border: 1px dashed red;
  @include tablet {
    flex-direction: initial;
  }
  @include desktop {
    flex-direction: initial;
  }
}
