@charset 'utf-8';
@import '_normalize';
@import '_normalizeCustomConfig';
@import '_variable';
@import '_font';
@import '_debugger';
@import '_mediaQuery';

@import '_statBarLoading';
@import '_statBarList';
@import '_statBar';

@import '_timelineLoading';
@import '_timeline';

@import '_graphRadar';
@import '_graphBar';

@import '_landingSlide';



// ID LEVEL ----------------------------------------------------------------------------------
#root {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}
#app {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 10px; // Confirmed for Chrome & FF & Safari in OSX.
  position: relative;
}

// ELEMENT LEVEL ----------------------------------------------------------------------------------
section {
  width: 100vw;
  height: 100vh;
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed red;
}

// CLASS LEVEL ------------------------------------------------------------------------------------
.subText {
  font-size: 60%;
  line-height: 60%;
  letter-spacing: 0.085em;
}

.mainWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  border: 1px dashed red;
  @include tablet {
    flex-direction: initial;
  }
  @include desktop {
    flex-direction: initial;
  }
}
